doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="A mutant tetris clone")
    title "Tetrish"

    link(rel="stylesheet" href="style.styl")

body
  header
    h1 Tetrish
  main
    div#canvas

  script(src="script.js" type="module")